<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ArtDream/ArtDream.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/Scripts/Jquery/slides.min.jquery.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                @Html.ActionLink("艺术梦想", "Index", "Home", new object() { }, new { @class = "brand" })
                <div class="nav-collapse">
                    <ul class="nav">

                        <li id="homeNav">
                            @Html.ActionLink("首页", "Index", "Home", new object() { }, new object { })
                        </li>
                        <li class="divider-vertical"></li>
                        <li id="eventNav">@Html.ActionLink("赛事花絮", "Index", "Event", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="showNav">@Html.ActionLink("影视表演", "Index", "Show", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="skillNav">@Html.ActionLink("表演与特技", "Index", "Skill", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="ambassadorNav">@Html.ActionLink("形象大使", "Index", "Ambassador", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="movieNav">@Html.ActionLink("新片速递", "Index", "Movie", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="schoolNav">@Html.ActionLink("名校风采", "Index", "School", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="teacherNav">@Html.ActionLink("名师风采", "Index", "Teacher", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                        <li id="honoraryTeacherNav">@Html.ActionLink("名誉老师", "Index", "HonoraryTeacher", new object() { }, new object { })</li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="mainContent" class="container">
        @RenderBody()
    </div>
    <footer class="footer">
     <div class="container">
     <div class="row">
     <div id="friendship-links" class="span12">
       <ul class="unstyled">
		<li><a href="http://www.ccnt.gov.cn" title="中华人民共和国文化部" target="_blank"><img src="/Files/Images/temp/CS-Q9wCgvW8eA.jpg"></a></li>
        <li><a href="http://www.moe.edu.cn" title="中华人民共和国教育部" target="_blank"><img src="/Files/Images/temp/CS-akoJrzdO4W.jpg"></a></li>
        <li><a href="http://www.sarft.gov.cn" title="国家广播电影电视总局" target="_blank"><img src="/Files/Images/temp/CS-hbY3F4RqxO.jpg"></a></li>
        <li><a href="http://www.cflac.org.cn" title="中国文联网" target="_blank"><img src="/Files/Images/temp/CS-gkkiKmHAiJ.jpg"></a></li>
        <li><a href="http://www.chinaedu.edu.cn" title="中国教育信息网" target="_blank"><img src="/Files/Images/temp/CS-2zfxanBPVe.jpg"></a></li>
        <li><a href="http://www.csmes.org" title="中国音乐教育网" target="_blank"><img src="/Files/Images/temp/CS-W3b5IjNped.jpg"></a></li>
        <li><a href="http://www.zjstv.com" title="浙江卫视官网" target="_blank"><img src="/Files/Images/temp/CS-T6qpmoxK7N.jpg"></a></li>
        <li><a href="http://www.sina.com.cn" title="新浪网" target="_blank"><img src="/Files/Images/temp/CS-YylZxB875i.jpg"></a></li>
        <li><a href="http://www.sohu.com" title="搜狐" target="_blank"><img src="/Files/Images/temp/CS-v6dHL4Ox09.jpg"></a></li>
        <li><a href="http://www.xinhuanet.com" title="新华网" target="_blank"><img src="/Files/Images/temp/CS-Aywhy0XDxM.jpg"></a></li>
        <li><a href="http://www.cntv.cn" title="中国网络电视" target="_blank"><img src="/Files/Images/temp/CS-nRFxRlBxY3.jpg"></a></li>
      </ul>
     </div>
     </div>
       <div class="row">
               <div class="span12">
               <div class="well">
              <p>
                &copy; 2012 <a title="RareStep - Remarkable web-based software and websites in Birmingham, AL" href="http://www.rarestep.com">RareStep, LLC</a>. All Rights Reserved.
                &nbsp;<a href="/terms">Terms</a>&nbsp;&amp;&nbsp;<a href="/privacy">Privacy</a>.
              </p>
              </div>
   
                 </div>
                </div>
      </div>
   </footer>
</body>
</html>
